<section class="columns top-bar">
  <div class="container">
    <div class="column">
      <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">
              Mary Fortuna
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavBar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div id="mainNavBar" class="navbar-menu">
            <div class="navbar-start">
                {{- $currentPage := . -}}
                {{- range .Site.Menus.main  -}}
                {{- if .HasChildren -}}
                <div class="navbar-item has-dropdown is-hoverable">
                  <a href="{{- .URL | absURL -}}" class="navbar-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    {{- .Name -}}
                  </a>            
                  <div class="navbar-dropdown">
                    {{- range .Children -}}
                    {{- if .HasChildren -}}
                      <div class="navbar-item has-dropdown is-hoverable">
                          <a href="{{- .URL | absURL -}}" class="navbar-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                              {{- .Name -}}
                            </a>
                                <div class="navbar-dropdown">
                                  {{- range .Children -}}
                                <a href="{{ .URL | absURL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                  {{- .Name -}}
                                </a>
                                <hr class="navbar-divider"> 
                                {{ else }} 
                                <a href="{{ .URL | absURL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                  {{- .Name -}}
                                </a>
                              {{ end }}
                                </div> 
                      </div>
                      {{ else }}
                      <a href="{{- .URL | absURL -}}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                          {{- .Name -}}
                        </a>
                        <hr class="navbar-divider">  
                      {{ end }}
                      {{ end }}
                  </div>
                </div>
                {{ else }}
                  <a href="{{ .URL | absURL}}" class="navbar-item">{{ .Name }}</a>
                {{ end }}  
                {{ end }}      
            </div>
          </div>
        </nav>
  </div>
  </div>
</section>
{{- if .IsHome -}}
<header class="container header-background mb-5">
  <div class="overlay"></div>
  <div class="columns px-5">
    <div class="column is-half is-flex is-flex-direction-column is-justify-content-center is-align-content-center pt-6">
      <h1 class="" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">{{ .Title }}</h1>
      <h2 class="" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="750">{{- .Params.subtitle -}}</h2>
      <p class="" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="1500">{{ .Params.skills }}</p>
      <figure class="owls">
        <img src="/images/nesting-dolls-transparent.png" alt="owls" height="420" width="420">
      </figure>
    </div>
    <div class="column is-half">
      <div class="swiper" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">
        <div class="swiper-wrapper">
          <!-- Lazy image -->
          {{ range .Site.Data.headerImages.data }}
          <div class="swiper-slide">
            <figure class="image">
              <img data-src="{{- .src -}}" class="swiper-lazy" alt="{{ .alt }}" height="325" width="325"/>
            </figure>
            <div class="swiper-lazy-preloader"></div>
          </div>
          {{ end }}
        </div>
         <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
      </div>
      
    </div>
  </div>
</header>
{{- else -}}
<header class="container">
  <div class="columns">
    <div class="column is-12">
      <h1 class="has-text-centered mt-5 is-size-1-mobile">{{- .Title  -}}</h1>
    </div>
  </div>
</header>

{{ end }}