<!-- Document Head -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ .Site.Params.author}}">
    {{- if .IsHome -}}
    <meta name="description" content="{{- .Site.Params.description -}}">
    {{- else -}}
    <meta name="description" content="{{- .Description -}}">
    {{- end -}}

    <!-- Schema.org Boilerplate -->
    <meta itemprop="name" content="{{- .Title -}}">
    <meta itemprop="description" content="{{- .Description -}}">
    {{ with .Params.img }}
    <meta itemprop="image" content="{{- .Params.img -}}">
    {{ else }}
    <meta itemprop="image" content="{{- .Site.Params.opengraphdefault -}}">
    {{- end -}}
    <!-- Facebook Open Graph -->
    <meta property="fb:app_id" content="">
    <meta property="og:url" content="{{- .Permalink | absURL -}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    {{- with .Params.img -}}
    <meta property="og:image" content="{{- .Params.img | absURL -}}">
    {{ else }}
    <meta property="og:image" content="{{- .Site.Params.opengraphdefault | absURL -}}">
    {{ end }}
    {{- with .Params.imgAlt -}}
    <meta property="og:image:alt" content="{{- .Params.imgAlt -}}">
    {{- else -}}
    <meta property="og:image:alt" content="{{- .Site.Params.imgAltDefault -}}">
    {{ end }}
    {{- with .Description -}}
    <meta property="og:description" content="{{ . }}">
    {{- else -}}
    <meta property="og:description" content="{{ .Site.Params.description }}">
    {{- end -}}
    <meta property="og:site_name" content="{{ .Site.Title}}">
    <meta property="og:locale" content="en_US">
    {{- with .Params.author -}}
    <meta property="article:author" content="{{.}}">
    {{- else -}}
    <meta property="article:author" content="Mary Fortuna">
    {{- end -}}

    <title>{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}</title>

    <!-- Preloads, Prefetches, etc-->
    <link rel="prefetch" href="https://unpkg.com">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7/css/font-awesome.min.css">

    <!-- Custom Stylesheets -->
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- Canonical Links -->

    <link rel="canonical" href="{{- .Permalink | absURL -}}">

    <!-- Schema.org -->
    <link rel="author" href="https://mary-fortuna.com">
    <link rel="publisher" href="https://andrew-mccall.com">
</head>