<script defer id="swiper" src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script defer id="aos" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script defer src="https://unpkg.com/fslightbox@3.3.0-2/index.js"></script>
<script>
  //  wait for scripts to load then run init function

  //  Animate On Scroll Init
  document.getElementById("aos").addEventListener("load", () => {
    AOS.init();
  });

  // Swiper init
  document.getElementById("swiper").addEventListener("load", () => {
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      loop: true,
      centeredSlides: true,
      preloadImages: false,
      lazy: true,
      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
      },

      // Navigation arrows
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      // And if we need scrollbar
      scrollbar: {
        el: ".swiper-scrollbar",
      },
    });
  });

  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
          $target.classList.contains('is-active') ? setTimeout(() => { $target.style.opacity = 1 }, 50) : $target.style.opacity = 0;
        });
      });
    }

  });

  let options = {
    rootMargin: '0px 0px 0px 0px',
    threshold: [1.0, 1.0, 1.0, 1.0]
  }

  let callback = (entries, observer) => {
    entries.forEach(entry => {
      if (entry.intersectionRatio > 0) {
        entry.target.src = entry.target.getAttribute('data-src');
        entry.target.onload = () => {
          setTimeout(() => {
            entry.target.style.opacity = 1;
          }, 200)
        }
        observer.unobserve(entry.target);
      }
      // Each entry describes an intersection change for one observed
      // target element:
      //   entry.boundingClientRect
      //   entry.intersectionRatio
      //   entry.intersectionRect
      //   entry.isIntersecting
      //   entry.rootBounds
      //   entry.target
      //   entry.time
    });
  };


  let observer = new IntersectionObserver(callback, options);

  let target = document.querySelectorAll('.lazy');

  target.forEach((img) => {
    observer.observe(img);
  })








</script>