{{ define "main" }}
<main class="container columns mx-auto">
    <section class="column is-half mx-auto is-hidden">
        <form action="https://api.formcake.com/api/form/cd3bd931-f0ac-40d0-a022-21b957181f73/submission" method="post" id="main-form" class="my-3 mx-auto is-hidden">
            <div class="field" style="display: none;">
                <label for="custom_username" class="label"></label>
                <div class="control">
                    <input type="text" name="custom_username" id="custom_username">
                </div>
            </div>
            <div class="field">
                <label for="name" class="label"></label>
                <div class="control">
                    <input type="text" class="input" name="name" placeholder="Enter your name">
                </div>
                <p>Enter your designated name</p>
            </div>
            <div class="field">
                <label for="email" class="label"></label>
                <div class="control">
                    <input type="email" class="input" name="email" placeholder="Enter your email address">
                </div>
                <p>Enter your email address</p>
            </div>
            <div class="field">
                <label for="message" class="label"></label>
                <div class="control">
                    <textarea class="textarea" name="message" placeholder="Type your message here"></textarea>
                </div>
                <p>Enter your message</p>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button
    class="button is-link g-recaptcha"
    data-sitekey="6Lf6IyUaAAAAAPTTe__sC4052VzvGcwFlBHeajA0"
    data-callback='onSubmit'
    data-action='submit'
>
    Submit
</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancel</button>
                </div>
              </div>
        </form>

        <script>
            function onSubmit(token) {
                document.getElementById("main-form").submit();
            }
            </script>

    </section>
    <section class="columns is-half mx-auto p-3">
        If you are interested in commissioning Mary, or have a question about Mary's work, contact her below.
    </section>
</main>
{{ end }}