{{ define "main" }}
<div id="main-wrap">
    <div class="container">
        <div id='wsite-content' class='wsite-elements wsite-not-footer'>
            <h2 class="wsite-content-title" style="text-align:left;"><strong>Artist and gallery links are not listed in
                    any particular order, I'm just adding them as they come to me. Just poke around and click, see what
                    you find. There's bound to be something interesting.</strong><br /><br /></h2>

            <div>
                <div class="wsite-multicol">
                    <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                        <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
                                <tr class="wsite-multicol-tr">
                                    <td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">



                                        <h2 class="wsite-content-title" style="text-align:left;">Some older blogs:</h2>

                                        <div class="paragraph" style="text-align:left;"><a
                                                href="http://maryfortuna.tumblr.com/" target="_blank" title=""
                                                style="">Mary Fortuna on Tumblr</a><br /><br /><a
                                                href="http://waitingformary.blogspot.com/" target="_blank" title=""
                                                style="">Mary Fortuna on blogspot</a><br /><br /><a
                                                href="http://slipperyweaselsociety.blogspot.com/" title="" style="">The
                                                Slippery Weasel Society on blogspot</a><br /><br /><br /></div>



                                    </td>
                                    <td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">



                                        <h2 class="wsite-content-title" style="text-align:left;">Some links to reviews
                                            and articles:<br /></h2>

                                        <div class="paragraph" style="text-align:left;"><a
                                                href="http://www.metroartsdetroit.com/#!__season-3/vstc8=show-308">Metro
                                                Arts Detroit</a><br /><br /><a
                                                href="http://www.knightarts.org/community/detroit/artist-profile-hard-at-play-with-mary-fortuna#comment-342890"
                                                title="" style="">Artist Profile by Rosie Sharp on KnightArts
                                                Detroit</a><br /><br /><a
                                                href="http://www.metrotimes.com/detroit/all-dolled-up/Content?oid=2185508"
                                                title="" style="">All Dolled Up by Glen Mannisto, Detroit Metro
                                                Times</a><br /><br /><a
                                                href="http://www.detroitmona.com/Galerie_Haemmerle_Detroit.htm" title=""
                                                style="">Changing Cities on DetroitMONA</a><br /><br /><br /></div>



                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <div class="wsite-multicol">
                    <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                        <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
                                <tr class="wsite-multicol-tr">
                                    <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                        <h2 class="wsite-content-title" style="text-align:left;">Some artists I love:
                                        </h2>



                                    </td>
                                    <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                        <h2 class="wsite-content-title" style="text-align:left;">Some favorite galleries
                                            and museums:</h2>



                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <div class="wsite-multicol">
                    <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                        <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
                                <tr class="wsite-multicol-tr">
                                    <td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">



                                        <div class="paragraph" style="text-align:left;"><a
                                                href="http://rustynailstudio.blogspot.com/" title="" style="">Rusty Nail
                                                Studio</a>&nbsp;<br /><br /><a href="http://www.rabodzeenko.com/"
                                                title="" style="">Andrei Rabodzeenko</a><br /><br /><a
                                                href="http://michaelmcgillis.com/" title="" style="">Michael
                                                McGillis</a><br /><br /><a href="http://www.andykriegerartist.com/"
                                                title="" style="">Andy Krieger</a><br /><br /><a
                                                href="http://clintonsnider.com/" title="" style="">Clinton
                                                Snider</a><br /><br /><a href="http://rockyfordstudio.blogspot.com/"
                                                title="" style="">Rocky Ford Studio - Matthew Hanna</a><br /><br /><a
                                                href="http://kimfaystudio.com/" title="">Kim Fay</a><br /><br /><a
                                                href="http://www.carriemorris.com/" title="">Carrie
                                                Morris</a><br /><br /><a href="http://www.meganmajor.com/"
                                                title="">Megan Major</a><br /><br /><a href="http://amysacksteder.com/"
                                                title="">Amy Sacksteder</a><br /><br /><a
                                                href="https://www.facebook.com/GretchenKrampCeramicTiles"
                                                title="">Gretchen Kramp</a><br /><br /><a
                                                href="http://cleascave.typepad.com/" title="">Clea's
                                                Cave</a><br /><br /><a
                                                href="https://artsy.net/artist/christine-hagedorn" title="">Christine
                                                Hagedorn</a><br /><br /><a href="http://www.annefracassa.com/"
                                                title="">Anne Fracassa</a><br /><br /><a
                                                href="http://www.claudiashepard.com/" title="">Claudia
                                                Shepard</a><br /><br /><a href="http://www.jeannebieri.com/"
                                                title="">Jeanne Bieri</a><br /><br /><a
                                                href="http://carolynreedbarritt.com/" title="">Carolyn Reed
                                                Barritt</a><br /><br /><a href="https://www.facebook.com/sandra.cardew"
                                                title="">Sandra Cardew</a><br /><br /><a
                                                href="http://scottnorthrup.com/home.html" title="">Scott
                                                Northrup</a><br /><br /><a href="http://www.corinevermeulen.com/"
                                                title="">Corinne Vermeulen</a><br /><br /><a
                                                href="http://www.kottie.gaydos.org/" title="">Kottie
                                                Gaydos</a><br /><br /><a href="http://kyoheiabe.com/" title="">Kyohei
                                                Abe</a><br /><br /><a href="http://www.vagnerwhitehead.com/"
                                                title="">Vagner Whitehead</a><br /><br /><a
                                                href="http://www.mkarimipour.com/index.htm" title="">Marla
                                                Karimipour</a><br /><br /><a href="http://www.lynneavadenka.com/"
                                                title="">Lynne Avadenka</a><br /><br /><a href="http://chidox.com/"
                                                title="">Chido Johnson</a><br /><br /><a
                                                href="http://www.teresapetersen.com/" title="">Teresa
                                                Petersen</a><br /><br /><a href="http://graemwhyte.com/" title="">Graem
                                                Whyte</a><br /><br /><a href="http://scotthocking.com/" title="">Scott
                                                Hocking</a><br /><br /><a href="http://www.abigail-murray.com/"
                                                title="">Abigail Murray</a><br /><br /><a
                                                href="http://meganheeres.com/home.html" title="">Megan
                                                Heeres</a><br /><br /><a
                                                href="http://www.rayjohnsonestate.com/biography/" style="" title="">Ray
                                                Johnson</a><br /><br /><a href="http://nickcaveart.com/Main/Intro.html"
                                                style="" title="">Nick Cave</a><br /><br /><a
                                                href="http://andrewhasartshow.wordpress.com/" title="">Andrew
                                                Thompson<br /></a><br /><a href="http://corriebaldauf.com/home.html"
                                                title="">Corrie Baldauf</a><br /><br /><span
                                                style="line-height: 23.3999996185303px; background-color: initial;"><a
                                                    href="http://www.kresgeartsindetroit.org/fellowships/past-fellows/2011-fellows/richard-lewis/"
                                                    title="">Richard Lewis</a></span><br /><br /><a
                                                href="http://www.amandathatch.com/" title="">Amanda
                                                Thatch</a><br /><br /><a href="http://annelemanski.com/home.html"
                                                title="">Anne Lemanski</a><br /><br /><a
                                                href="http://gildasnowden.com/home.html">Gilda Snowden</a><br /><br /><a
                                                href="http://www.sarahtrahan.com/">Sarah Trahan</a><br /><br /><a
                                                href="http://www.kresgeartsindetroit.org/fellowships/past-fellows/2009-fellows/ed-fraga/">Ed
                                                Fraga</a><br /><br /><a
                                                href="http://www.udel.edu/art/people/faculty/people/williams.html">Peter
                                                Williams</a><br /><br /><a
                                                href="http://www.paulkotula.com/artist/jim-chatelain/">Jim
                                                Chatelain</a><br /><br /><a
                                                href="http://en.wikipedia.org/wiki/Tom_Phardel">Tom
                                                Phardel</a><br /><br /><a
                                                href="http://www.reviewcontemporary.com/artists/sharon-que/">Sharon
                                                Que</a><br /><br /><a href="http://robertsestok.wordpress.com/">Robert
                                                Sestok</a><br /><br /><br /></div>



                                    </td>
                                    <td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">



                                        <div class="paragraph" style="text-align:left;"><a href="http://www.dia.org/"
                                                style="" title="">Detroit Institute of Arts</a><br /><br /><a
                                                href="http://www.cranbrookart.edu/museum/" style="" title="">Cranbrook
                                                Art Museum</a><br /><br /><a href="http://www.mocadetroit.org/" style=""
                                                title="">MOCAD</a><br /><br /><a href="http://www.flintarts.org/"
                                                style="" title="">Flint Institute of Arts</a><br /><br /><a
                                                href="http://detroitmona.com/" style="" title="">Museum of New
                                                Art</a><br /><br /><a href="http://art.wayne.edu/jacob_gallery.php"
                                                title="">Elaine Jacob Gallery</a><br /><br /><a
                                                href="http://www.collegeforcreativestudies.edu/community-outreach-and-engagement/center-galleries"
                                                title="">CCS Center Galleries</a><br /><br /><a
                                                href="http://www.ouartgallery.org/" title="">Oakland University Art
                                                Gallery</a><br /><br /><a href="http://www.poppspacking.org/" title=""
                                                style="">Popp's Packing</a><br /><br /><a
                                                href="http://publicpool.tumblr.com/" title="" style="">Public
                                                Pool</a><br /><br /><a href="http://www.detroitartistsmarket.org/"
                                                title="" style="">Detroit Artists Market - DAM</a><br /><br /><a
                                                href="http://www.scarabclub.org/" title="" style="">The Scarab
                                                Club</a><br /><br /><a href="http://bbartcenter.org/" title=""
                                                style="">Birmingham Bloomfield Art Center</a><br /><br /><a
                                                href="http://www.passengerdetroit.org/" title=""
                                                style="">Passenger<br /></a><br /><a
                                                href="http://www.butterprojects.info/" title="" style="">Butter
                                                Projects</a><br /><br /><a href="http://www.reviewcontemporary.com/"
                                                title="" style="">ReView: Contemporary</a><br /><br /><a
                                                href="http://www.paulkotula.com/" title="" style="">Paul Kotula
                                                Projects</a><br /><br /><a href="http://www.whitdelarts.com/" title=""
                                                style="">Whitdel Arts</a><br /><br /><a href="http://www.hatchart.org/"
                                                title="" style="">Hatch Art</a><br /><br /><a
                                                href="http://www.detroitccp.org/" title="" style="">Detroit Center for
                                                Contemporary Photography - DCCP</a><br /><br /><a
                                                href="http://whatpipeline.com/" title="" style="">What
                                                Pipeline</a><br /><br /><a href="http://trinosophes.com/" title=""
                                                style="">Trinosophes</a><br /><br /><a
                                                href="http://northvillearthouse.org/" title="" style="">Northville Art
                                                House</a><br /><br /><a href="http://www.buckhamgallery.org/" title=""
                                                style="">Buckham Gallery</a><br /><br /><a href="http://9338campau.com/"
                                                title="">9338 Campau</a><br /><br /><a href="http://nnamdicenter.org/"
                                                title="">The N'namdi Center for Contemporary Art</a><br /><br /><a
                                                href="http://www.redbull.com/us/en/events/1331618729312/red-bull-house-of-art"
                                                title="" style="">Red Bull House of Art</a><br /><br /><a
                                                href="http://www.susannehilberrygallery.com/" style="" title="">Susanne
                                                Hillberry Gallery</a><br /><br /><a href="http://innerstategallery.com/"
                                                title="" style="">Inner State Gallery</a><br /><br /><a
                                                href="http://www.jmkac.org/" title="">John Michael Kohler Arts
                                                Center</a><br /><br /><a href="https://www.crookedtree.org/"
                                                title="">Crooked Tree Arts Center</a><br /><br /><a
                                                href="http://www.dennosmuseum.org/" title="">Dennos Museum
                                                Center</a><br /><br /><a href="http://www.blackbirdartstc.com/"
                                                title="">Blackbird Arts</a><br /><br /><a
                                                href="http://www.flatlandersculpture.com/"
                                                title="">Flatlanders</a><br /><br /><a
                                                href="http://www.toledomuseum.org/exhibitions/" title="">Toledo Museum
                                                of Art</a><br /><br /><a
                                                href="http://www.utoledo.edu/comm-arts/art/galleries/index.html"
                                                title="">University of Toledo Center for Visual Arts</a><br /><br /><a
                                                href="http://art.emich.edu/pages/about-the-gallery-programs"
                                                title="">Eastern Michigan University Art Gallery</a><br /><br /><a
                                                href="http://dcacarts.org/gallery/" title="">Dearborn Community Arts
                                                Council</a><br /><br /><a href="http://www.thebookbeat.com/backroom/"
                                                title="">Book Beat</a><br /><br /><a
                                                href="http://www.thebutchersdaughtergallery.com/The_Butchers_Daughter_Gallery/The_Butchers_Daughter.html">The
                                                Butcher's Daughter</a><br /><br /><a
                                                href="https://www.facebook.com/333midland">333 Midland - The
                                                Factory</a><br /><br /><br /><br /><br /></div>



                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h2 class="wsite-content-title" style="text-align:left;">Some other blogs and sites and projects of
                interest:</h2>

            <div class="paragraph" style="text-align:left;"><a href="http://motownreviewofart.blogspot.com/" title=""
                    style="">Motown Review of Art - Vince Carducci</a><br /><br /><a
                    href="http://thetechnophileluddite.blogspot.com/" title="" style="">The Technophile
                    Luddite</a><br /><br /><a href="http://artdetroitnow.com/" title="">Art Detroit
                    Now</a><br /><br /><a href="http://www.kresgeartsindetroit.org/" title="">Kresge Arts In
                    Detroit</a><br /><br /><a href="http://www.dlectricity.com/" title="">Dlectricity</a><br /><br /><a
                    href="http://thepioneerbuilding.com/" title="">The Pioneer Building</a><br /><br /><a
                    href="http://theatrebizarre.com/" title="">Theatre Bizarre</a><br /><br /><a
                    href="http://michiganaidscoalition.org/events-2/artworks_detroit/" title="">ArtWorks
                    Detroit</a><br /><br /><a href="http://www.artpack.com/" title="">Artpack Services</a><br /><br /><a
                    href="http://www.signalreturnpress.org/" title="">Signal Return</a><br /><br /><a
                    href="http://saltandcedar.com/" title="">Salt &amp; Cedar</a><br /><br /><a
                    href="http://ocelotprintshop.com/" title="">Ocelot Print Shop</a><br /><br /><a
                    href="http://www.ponyride.org/" title="">Ponyride</a><br /><br /><a
                    href="http://www.infinitemiledetroit.com/" title="">Infinite Mile</a><br /><br /><a
                    href="http://www.puppetart.org/" title="">PuppetArt Detroit</a><br /><br /><a
                    href="http://thehinterlandsensemble.org/" title="">The Hinterlands</a><br /><br /><a
                    href="http://letstalkaboutlovebaby.com/" title="">Let's Talk About Love, Baby</a><br /><br /><a
                    href="http://wirecarcruise.com/" title="">Wire Car Cruise</a><br /><br /><a
                    href="http://recyclehere.net/" title="">Recycle Here!</a><br /><br /><a
                    href="https://www.facebook.com/pages/Lincoln-Street-Art-Park/179542518761761?sk=timeline"
                    title="">Lincoln Street Art Park</a><br /><br /><a href="http://mbad.org/" title="">Dabl's African
                    Bead Museum</a><br /><br /><a href="http://www.heidelberg.org/" title="">The Heidelberg
                    Project</a><br /><br /><a href="http://nekchand.com/" style="">Nek Chand</a><br /><br /><a
                    href="http://www.artprize.org/">Artprize</a><br /><br /><br /></div>
        </div>

        {{ end }}