{{define "main"  }}
<header class="container">
    <p class="subtitle">{{ .Summary }}</p>
</header>
<main class="container columns is-justify-content-flex-start is-flex-wrap-wrap mt-3 mx-auto">     
     {{ range .Params.links}}
        <section class="column is-6">
            <h2 class="is-size-5">{{ .title }}</h2>
            <ul>
                {{range .list}}
                <li>{{ . | markdownify }}</li>
                {{ end }}
            </ul>
        </section>
     {{ end }}
</main>
{{ end }}