{{ define "main" }}
<main>
    <section class="section columns mx-auto">
        {{ range .Pages }}
        <div class="card column is-3 mx-auto list-card" data-aos="fade-up" data-aos-duration="1250"
            data-aos-delay="150">
            <div class="card-image">
                <figure class="image is-3by3">
                    {{ with .Params.image_upload }}
                    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix
                    "/uploads/" .
                    )}}
                    {{ $resized := $imageResource.Fill "250x250 top"}}
                    <img src="{{ $resized.RelPermalink }}" />
                    {{ end }}
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            {{ with .Params.image_upload }}
                            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch
                            (strings.TrimPrefix "/uploads/" .
                            )}}
                            {{ $resized := $imageResource.Fill "48x48 top" }}
                            <img src="{{ $resized.RelPermalink }}" />
                            {{ end }}
                        </figure>
                    </div>
                    <div class="media-content">
                        <h2 class="title has-text-left is-4 pl-0"><a href="{{ .RelPermalink | absURL }}"
                                title="{{ .Title}}">{{ .Title }}</a></h2>
                        <p class="title is-6">{{.Params.author}}</p>
                        <p class="subtitle is-6">@mary.fortuna</p>
                    </div>
                </div>
                <hr />
                <div class="is-flex is-align-items-center is-flex-wrap-wrap">
                    <small class="pr-2">Categories: </small>
                    {{ range (.GetTerms "categories") }}
                    <a href="{{- .Permalink -}}" class="taxonomy-button mx-1" title="{{- .LinkTitle -}}">{{-
                        .LinkTitle -}}</a>
                    {{ end}}
                </div>
                <div class="is-flex is-align-items-center is-flex-wrap-wrap">
                    <small class="pr-2">Tags: </small>
                    {{ range (.GetTerms "tags") }}
                    <a href="{{- .Permalink -}}" class="taxonomy-button mx-1" title="{{- .LinkTitle -}}">{{-
                        .LinkTitle -}}</a>
                    {{ end}}
                </div>
                <div class="is-flex is-align-items-center">
                    <small class="pr-2">Published: </small><time datetime="2016-1-1">{{.Date.Format "2006-01-02"}}
                    </time>
                </div>
                <hr />
                <div class="content">
                    <p>{{- .Params.summary -}}</p>
                    <div class="is-flex is-justify-content-center is-align-items-center">
                        <a href="{{.Permalink}}" class="button taxonomy-button">{{- .Title -}}</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <li>
        </li>
        {{ end }}
    </section>
</main>
{{ end }}