{{ define "main" }}
<section class="section">
    <div class="container">
        <div class="grid-container">
            {{ with .Site.Data.papaLegba }}
            
            {{ range .collection }}
            <div class="grid-item mx-auto" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="150">
                <a data-fslightbox href="{{ .src | absURL }}" title="{{.title }} - {{ .year }}" style="position: relative; ">
                    <span style="background: rgba(0,0,0,0.75); color: #fff; position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">{{ .title }} - {{ .year }}</span>
                    <img data-src="{{ .src | absURL }}" class="lazy" width="350" height="350">
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 mx-auto">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
<script defer>
const gridItems = document.querySelectorAll('.grid-item')

gridItems.forEach((item) => {
    const img = item.lastElementChild.lastElementChild
        img.addEventListener('load', (e) => {
        const spans = Math.ceil(e.target.scrollHeight / 10 + 2)
        item.style.height = e.target.scrollHeight + 'px'
        item.style.gridRowEnd = `span ${spans}`
    })
    
})


</script> 


{{ end }}