{{ define "main" }}
<section class="section">
    <div class="container">
        <div class="columns is-flex-wrap-wrap is-justify-content-center grid-container">
            {{ with .Resources.ByType "image" }}
            {{ range . }}
            {{ $image := .}}
            {{ $resized := $image.Fit "270x270 jpeg top" }}
            {{ $fullsize := $image.Resize "900x webp jpeg top" }}
            {{ $thumb := $image.Resize "75x75 webp photo top"}}
            <div class="column is-3 mx-auto grid-item">
                <a data-fslightbox href="{{ $fullsize.RelPermalink | absURL }}">
                    <img data-src="{{ $resized.RelPermalink | absURL }}" class="lazy" height="350" width="350">
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 mx-auto">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ end }}