{{- define "main" -}}
<main class="container-is-full-hd my-5">
    <div class="mx-auto">
        <section class="columns mb-5 p-3 has-background-light slanted">
            <div class="column is-one-third is-offset-1 is-flex is-justify-content-center is-align-items-center" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="250">
                <img data-src="/images/Animals and Insects/Apollo_Butterfly_2016_mgkjwp.jpg" class="lazy box" alt="Apollo Butterfly">
            </div>
            <div class="column is-one-third is-offset-1" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="250">
                <h2>Artist Statement</h2>
                <div class="block"></div>
                <p class="box has-background-white">{{ .Params.about}}</p>
            </div>
        </section>

        <section class="columns mb-5 p-3">
            <div class="column is-one-third is-offset-1 waves-container" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="250">
                <h2>Biography</h2>
                <p class="box">{{ .Params.bio}}</p>
            </div>
            <div class="column is-one-third is-offset-1 is-flex is-justify-content-center is-align-items-center" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="250">
               <img data-src="/uploads/barn-owl-2019.jpg" class="lazy box" alt="hanging amulets">
            </div>
        </section>
    </div>
</main>

{{- end -}}