{{- define "main" -}}
<main class="section is-medium">
    <div class="container">
        <section class="columns">
            <div class="column is-half" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="250">
                <img src="/images/Animals and Insects/Apollo_Butterfly_2016_mgkjwp.jpg" alt="Apollo Butterfly">
            </div>
            <div class="column is-half" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="250">
                <h2>Artist Statement</h2>
                <div class="block"></div>
                <p>{{ .Params.about}}</p>
            </div>
        </section>

        <section class="columns">
            <div class="column is-half waves-container" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="250">
                <h2>Biography</h2>
                <p>{{ .Params.bio}}</p>
                <div class="waves">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,288L1440,96L1440,320L0,320Z"></path></svg>                </div>
            </div>
            <div class="column is-half" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="250">
               <img src="/uploads/barn-owl-2019.jpg" alt="hanging amulets">
            </div>
        </section>
    </div>
</main>

{{- end -}}